
.h11{
    background-color: tomato;
    font-size: 40px;
    color:black;
    width: 300px;
    height: 100px;
    box-shadow: 10px 10px 8px blue;
}
.j1{
    background-color: tomato;
    width: 425px;
    height: 155px;
    box-shadow: 10px 10px 8px blue;
}
.j2{
    background-color: tomato;
    width: 425px;
    height: 155px;
    box-shadow: 10px 10px 8px blue;
}
.image{
    height:200px;
}
.h22{
    color: black;
    font-size: 40px;
}

.win{
    color:black;
    font-size: 30px;
}
.lose{
    color: black;
    font-size: 30px;
}
.h33{
    font-size: 40px;
    color:black;
}